body {
  margin: 0;
  padding: 0;
}

/* Usual section */

section {
  padding-top: $section_top_padding;
  padding-bottom: $section_bottom_padding;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: $section_top_border;
  border-bottom-width: $section_bottom_border;
  border-color: $bordercolor_light;
  background-color: $section_bg_light;
  &.dark {
    border-color: $bordercolor_dark;
    background-color: $section_bg_dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: $headers_align;
  font-family: $headerfont;
  text-transform: $headers_case;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: $h1_size;
  font-family: $headerfont;
  color: $h1_color_light;
  letter-spacing: $h1_letterspacing;
  font-weight: $h1_fontweight;
}

h2 {
  font-size: $h2_size;
  font-family: $h2font;
  color: $h2_color_light;
  letter-spacing: $h2_letterspacing;
  font-weight: $h2_fontweight;
}

h3,
h4,
h5,
h6 {
  font-size: $h3_size;
  color: $h3_color_light;
  letter-spacing: $h3_letterspacing;
  font-weight: $h3_fontweight;
  font-family: $h3font;
}

.title {
  font-size: $title_size;
  letter-spacing: $title_letterspacing;
  font-weight: $title_fontweight;
  color: $title_color_light;
}

hr {
  border: 0;
  height: $hr_height;
  background-color: $hr_color_light;
  width: $hr_length;
  float: $headers_align;
}

p,
li {
  font-size: $text_size;
  font-family: $textfont;
  text-align: left;
  letter-spacing: $text_letterspacing;
  line-height: $text_lineheight;
  font-weight: $text_fontweight;
  color: $text_color_light;
}

.accent {
  font-family: $textaccentfont;
  font-size: $accenttext_size;
  letter-spacing: $accenttext_letterspacing;
  line-height: $accenttext_lineheight;
  font-weight: $accenttext_fontweight;
  color: $accenttext_color_light;
}

.note {
  font-family: $notefont;
  font-size: $note_size;
  letter-spacing: $note_letterspacing;
  line-height: $note_lineheight;
  font-weight: $note_fontweight;
  color: $note_color_light;
  margin-top: $margin_middle;
}

.caption {
  font-family: $captionfont;
  font-size: $caption_size;
  letter-spacing: $caption_letterspacing;
  line-height: $caption_lineheight;
  font-weight: $caption_fontweight;
  color: $caption_color_light;
}

.impact {
  font-family: $impactfont;
  font-size: $impacttext_size;
  letter-spacing: $impacttext_letterspacing;
  line-height: $impacttext_lineheight;
  font-weight: $impacttext_fontweight;
  color: $impact_color_light;
}

a:link,
a:visited {
  text-decoration: $link_underline;
  color: $a_color_light;
}

a:hover {
  text-decoration: $link_hover_underline;
  color: $a_hover_light;
}

.button,
.button:link,
.button:visited {
  font-size: $buttontext_size;
  letter-spacing: $buttontext_letterspacing;
  font-weight: $buttontext_fontweight;
  text-transform: $buttontext_case;
  font-family: $buttonfont;
  color: $button_textcolor_light;
  background-color: $button_bg_light;
  border: $button_border solid $button_border_light;
  border-radius: $button_radius $button_radius;
  padding: $margin_small;
  display: inline-block;
  text-align: center;
  min-width: $buton_size;
  margin: $margin_small;
  text-decoration: none;
}

.button:hover,
.button:active {
  text-decoration: none;
  color: $button_textcolor_hover_light;
  border: $button_border solid $button_border_hover_light;
  background-color: $button_bg_hover_light;
  transition: 0.4s ease all;
  text-decoration: none;
}

.calltoaction,
.calltoaction:link,
.calltoaction:visited {
  color: $calltoaction_textcolor_light;
  background-color: $calltoaction_bg_light;
  border: $button_border solid $calltoaction_border_light;
}

.calltoaction:hover,
.calltoaction:active {
  color: $calltoaction_textcolor_hover_light;
  background-color: $calltoaction_bg_hover_light;
  border: $button_border solid $calltoaction_border_hover_light;
}

input,
textarea {
  padding: $margin_small;
  margin-bottom: $margin_small;
  border: $input_border solid $input_border_color_light;
  font-family: $textfont;
  font-size: $text_size;
  color: $input_color_light;
  width: 100%;
  border-radius: $input_radius;
  background-color: $input_bg_light;
  &:focus {
    outline: none;
  }
}

label {
  font-family: $textfont;
  font-size: $label_size;
  font-weight: $label_fontweight;
  letter-spacing: $label_letterspacing;
  text-transform: $label_case;
  color: $label_color_light;
  line-height: 150%;
}

select {
  /*height: 60px;*/
  padding: calc($margin_small + 4px) $margin_small;
  border: $input_border solid $input_border_color_light;
  font-family: $textfont;
  font-size: $text_size;
  color: $input_color_light;
  border-radius: $input_radius;
  background-color: $input_bg_light;
  -webkit-appearance: none;
  background-image: url('../../i/selector_arrow_on_light.svg');
  background-position: 95% center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

select::-ms-expand {
  display: none;
}

.checkbox,
.radio {
  vertical-align: top;
  margin: $margin_small 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label,
.radio + label {
  cursor: pointer;
}

.checkbox:not(checked),
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: $unchek_color_light;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: $chek_selector_light;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: all .2s;
}

.checkbox:checked + label:before {
  background: $chek_color_light;
}

.checkbox:checked + label:after {
  left: 26px;
}

.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: $chek_selector_light;
}

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $chek_color_light;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all .2s;
}

.radio:checked + label:after {
  opacity: 1;
}

.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: $tablefont;
}

th,
td {
  padding: $cell_padding;
}

tbody {
  tr:nth-child(even) {
    background: $td_bg_alt_light;
  }
  tr:nth-child(odd) {
    background: $td_bg_light;
  }
}

thead tr {
  background: $th_bg_light;
}

tfoot tr {
  background: $tf_bg_light;
}

td {
  font-size: $td_size;
  font-weight: $td_fontweight;
  letter-spacing: $td_letterspacing;
  border: 1px solid $td_border_light;
  color: $td_color;
}

th {
  font-size: $th_size;
  font-weight: $th_fontweight;
  letter-spacing: $th_letterspacing;
  text-transform: $th_case;
  border: 1px solid $th_border_light;
  color: $th_color;
  border-bottom: none;
}

tfoot td {
  border: 1px solid $tf_border_light;
  color: $tf_color;
}

// Styles for dark theme
.dark {
  h1 {
    color: $h1_color_dark;
  }
  h2 {
    color: $h2_color_dark;
  }
  h3,
  h4,
  h5,
  h6 {
    color: $h3_color_dark;
  }
  .title {
    color: $title_color_dark;
  }
  hr {
    background-color: $hr_color_dark;
  }
  p,
  li {
    color: $text_color_dark;
  }
  .accent {
    color: $accenttext_color_dark;
  }
  .note {
    color: $note_color_dark;
  }
  .caption {
    color: $caption_color_dark;
  }
  .impact {
    color: $impact_color_dark;
  }
  a:link,
  a:visited {
    color: $a_color_dark;
  }
  a:hover,
  a:active {
    color: $a_hover_dark;
  }
  button,
  .button:link,
  .button:visited {
    color: $button_textcolor_dark;
    background-color: $button_bg_dark;
    border: $button_border solid $button_border_dark;
  }
  .button:hover,
  .button:active {
    color: $button_textcolor_hover_dark;
    border: $button_border solid $button_border_hover_dark;
    background-color: $button_bg_hover_dark;
  }
  .calltoaction,
  .calltoaction:link,
  .calltoaction:visited {
    color: $calltoaction_textcolor_dark;
    background-color: $calltoaction_bg_dark;
    border: $button_border solid $calltoaction_border_dark;
  }
  .calltoaction:hover,
  .calltoaction:active {
    color: $calltoaction_textcolor_hover_dark;
    border: $button_border solid $calltoaction_border_hover_dark;
    background-color: $calltoaction_bg_hover_dark;
  }
  input,
  textarea {
    border: $input_border solid $input_border_color_dark;
    color: $input_color_dark;
    background-color: $input_bg_dark;
  }
  label {
    color: $label_color_dark;
  }
  select {
    color: $input_color_dark;
    background-color: $input_bg_dark;
    background-image: url('../../i/selector_arrow_on_dark.svg');
  }
  .checkbox:not(checked) + label:before {
    background: $unchek_color_dark;
  }
  .checkbox:not(checked) + label:after,
  .radio:not(checked) + label:before {
    background: $chek_selector_dark;
  }
  .checkbox:checked + label:before,
  .radio:not(checked) + label:after {
    background: $chek_color_dark;
  }
  tbody {
    tr:nth-child(even) {
      background: $td_bg_alt_dark;
    }
    tr:nth-child(odd) {
      background: $td_bg_dark;
    }
  }
  thead tr {
    background: $th_bg_dark;
  }
  tfoot tr {
    background: $tf_bg_dark;
  }
  td {
    border: 1px solid $td_border_dark;
    color: $td_color_dark;
  }
  th {
    border: 1px solid $th_border_dark;
    color: $th_color_dark;
    border-bottom: none;
  }
  tfoot td {
    border: 1px solid $tf_border_dark;
    color: $tf_color_dark;
  }
}

/* Full width image */

.wideimgbg {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
}

/* Internal blocks */

.c_content {
  margin-top: $margin_middle;
  li {
    margin-bottom: $margin_small;
    margin-left: $margin_small;
    position: relative;
  }
  ul {
    margin-top: $margin_middle;
    margin-bottom: $margin_middle;
    list-style-type: none;
    li:before {
      display: block;
      position: absolute;
      left: -$basesize*2;
      width: $basesize;
      color: $listmarker_color_light;
      content: $list_marker;
    }
  }
}

.dark .c_content {
  ul li:before {
    color: $listmarker_color_dark;
  }
}

/* Header */

.c_fullimgheader {
  background-size: cover;
  background-position: center;
  background-color: $header_color;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  min-height: 450px;
  position: relative;
  background-attachment: fixed;
  .mask {
    background-color: $mask_color_light;
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
  }
  h1 {
    line-height: 110%;
    text-align: $h1_align;
    text-transform: $h1_case;
  }
  .arrow_wrapper {
    display: flex;
    justify-content: center;
    a.arrow {
      position: absolute;
      bottom: 25px;
      //padding-bottom: $margin_middle;
      width: 43px;
      height: 16px;
      border: none;
      /*display: inline-block;*/
      background-image: url('../../i/arrow_d_on_light.svg');
      background-repeat: no-repeat;
    }
  }
  .introtext {
    font-family: $introtextfont;
    font-size: $introtext_size;
    letter-spacing: $introtext_letterspacing;
    line-height: $introtext_lineheight;
    font-weight: $introtext_fontweight;
    color: $introtext_color_light;
    text-align: $h1_align;
  }
  .c_logo {
    font-family: $logofont;
    font-size: $logo_size;
    letter-spacing: $logo_letterspacing;
    font-weight: $logo_fontweight;
    color: $logo_color_light;
    text-transform: $headers_case;
    line-height: 100%;
  }
  .c_topmenu {
    background: $menu_bg_light;
    padding: $menu_padding;
    /*position: fixed;*/
    width: 100%;
    height: $menu_height;
  }
  .c_menu {
    font-family: $menufont;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      float: right;
      list-style: none;
      margin-left: $margin_middle;
      line-height: 120%;
      a:link,
      a:visited,
      a:hover,
      span {
        font-size: $menuitem_size;
        font-weight: $menuitem_weight;
        text-decoration: none;
        color: $menuitem_color_light;
      }
      a:hover {
        color: $menuitem_hover_light;
      }
    }
  }
  .c_top_phone {
    float: right;
    margin-left: $margin_big;
    //margin-top: 15px;
    font-family: $phonefont;
    font-size: $phone_size;
    letter-spacing: $phone_letterspacing;
    font-weight: $phone_fontweight;
    color: $phone_color_light;
    text-transform: $headers_case;
    line-height: 100%;
  }
  .c_top_small_desc {
    font-family: $mainfont;
    font-size: 11px;
    letter-spacing: 0.03em;
    padding-top: 10px;
    font-weight: bold;
  }
  &.dark {
    a.arrow {
      background-image: url('../../i/arrow_d_on_dark.svg');
    }
    .mask {
      background-color: $mask_color_dark;
    }
    .introtext {
      color: $introtext_color_dark;
    }
    .c_logo {
      color: $logo_color_dark;
    }
    .c_menu {
      a:link,
      a:visited {
        color: $menuitem_color_dark;
      }
      a:hover {
        color: $menuitem_hover_dark;
      }
    }
    .c_topmenu {
      background: $menu_bg_dark;
    }
    .c_top_phone {
      color: $phone_color_dark;
    }
  }
}

.c_fullheight {
  height: calc(#{"100vh - 140px"});
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  background-color: $footer_bg_light;
  font-family: $footerfont;
  font-size: $footer_size;
  color: $fooler_color_light;
  letter-spacing: $footer_letterspacing;
  line-height: $footer_lineheight;
  font-weight: $footer_fontweight;
  &.dark {
    background-color: $footer_bg_dark;
    color: $fooler_color_dark;
  }
}

/*  Ссылка на разработчика в футере */

.c_developer {
  display: block;
  width: 100%;
  padding: $margin_small;
  text-align: center;
  font-family: $developerfont;
  font-size: $developer_size;
  letter-spacing: $developer_letterspacing;
  line-height: $developer_lineheight;
  font-weight: $developer_fontweight;
  text-transform: $developer_case;
}

a.c_developer:link,
a.c_developer:visited {
  background-color: $developer_bg_light;
  color: $developer_color_light;
  text-decoration: none;
  span {
  }
}

a.c_developer:hover,
a.c_developer:active {
  background-color: $developer_bg_hover_light;
  color: $developer_color_hover_light;
  transition: 0.4s ease all;
  text-decoration: none;
}

.dark {
  a.c_developer:link,
  a.c_developer:visited {
    background-color: $developer_bg_dark;
    color: $developer_color_dark;
    span {
    }
  }
  a.c_developer:hover,
  a.c_developer:active {
    background-color: $developer_bg_hover_dark;
    color: $developer_color_hover_dark;
  }
}

/* Блоки */

.c_blokhead {
  text-align: $headers_align;
  margin-bottom: $block_margin;
  div {
    margin: 0 auto;
    margin-bottom: $block_margin;
  }
}

.c_blockcontent {
  font-size: $blocktext_size;
  font-family: $textfont;
  text-align: $headers_align;
  letter-spacing: $text_letterspacing;
  line-height: $text_lineheight;
  font-weight: $text_fontweight;
  color: $text_color_light;
}

.c_block_horizontal {
  .c_blokhead {
    width: $round_block_size;
    float: left;
    margin-right: $block_margin;
  }
  .c_blockcontent {
    text-align: left;
    h2,
    h3 {
      text-align: left;
    }
  }
}

.dark .c_blockcontent {
  color: $text_color_dark;
}

///////////////////////////////////////////////////////////////////
// Отзывы по три в ряд ///////////////////////////////////////////
//////////////////////////////////////////////////////////////////
.c_review {
  .review__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .c_blokhead {
      .c_roundimg {
        width: $reviewauthor_imgsize !important;
        height: $reviewauthor_imgsize !important;
        background-size: contain;
      }
      padding: 20px 0;
    }
  }
  .c_block_horizontal .c_blockcontent p {
    font-family: $reviewfont;
    font-size: $review_fontsize;
    font-weight: $review_fontweight;
    font-style: $review_fontstyle;
    letter-spacing: $review_letterspacing;
    line-height: $review_lineheight;
    color: $review_light;
  }
  .c_author {
    text-align: center;
    font-family: $reviewauthorfont;
    font-size: $reviewauthor_fontsize;
    font-weight: $reviewauthor_fontweight;
    font-style: $reviewauthor_fontstyle;
    letter-spacing: $reviewauthor_letterspacing;
    line-height: $reviewauthor_lineheight;
    color: $reviewauthor_light;
  }
}

///////////////////////////////////////////////////////////////////
///// Слайдер с комментариями ////// //////////////////////////////
//////////////////////////////////////////////////////////////////
.bx-slider-container {
  .row {
    position: relative;
  }
  .bx-wrapper {
    margin: 0;
    max-width: 1200px;
  }
  .bx-controls-direction {
    .bx-prev,
    .bx-next {
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: -9999px;
      display: block;
      top: 0;
      bottom: 0;
      position: absolute;
      width: 60px;
      //background-color: #cfd8dc;
      &.disabled {
        outline: none !important;
        border: none !important;
        background-color: transparent !important;
        opacity: 0.2;
      }
    }
    .bx-prev {
      background-image: url(../../i/arrow_left.svg);
      left: 0;
    }
    .bx-next {
      right: 0;
      background-image: url(../../i/arrow_right.svg);
    }
  }
  .bx-pager {
    padding-top: 38px;
    text-align: center;
    .bx-pager-item {
      &:last-child {
        margin: 0;
      }
      cursor: pointer;
      margin-right: 16px;
      display: inline-block;
      border-radius: 50%;
      padding: 2px;
      border: 1px solid #efefef;
      &:hover {
        @include transition;
        border-color: darken(#efefef, 20%);
      }
      a {
        border-radius: 50%;
        text-indent: -9999px;
        content: ' ';
        display: block;
        width: 8px;
        height: 8px;
        &.active {
          background-color: #fff;
        }
      }
    }
  }
}

.microdata__hidden__params {
  @include hidden_element;
}

///////////////////////////////////////////////////////////////////
/////////////////// Вкладки на форме ///////////////////////////////
///////////////////////////////////////////////////////////////////

.form__tabs {
  min-height: 820px;
  .tab__button {
    min-width: $tab__button__minwidth;
    padding: $tab__button__padding;
  }
  .form__tabs__i {
    display: none;
    &.active__tab {
      display: block;
    }
    /*&#form__tab {
      display: block;
    }
    &#call__tab:target ~ #form__tab {
      display: none;
    }
    &:target {
      display: block;
    }*/
  }
}

///////////////////////////////////////////////////////////////////
///// Вертикальные блоки с номерами //////////////////////////////
//////////////////////////////////////////////////////////////////
.c_process {
  ol {
    counter-reset: c_process_counter;
    list-style-type: none;
    padding: 0px;
    li {
      display: block;
      position: relative;
      font-weight: $process_fontweight;
      font-size: $process_fontsize;
      margin: 0px;
      padding-left: $processlistitem_paddingleft;
      padding-bottom: $processlistitem_paddingbottom;
      overflow: hidden;
      span.c_blockcontent {
        display: block;
        padding: $processcontent_padding;
      }
      &:before {
        @extend .c_roundimg;
        @extend h3;
        content: counter(c_process_counter);
        counter-increment: c_process_counter;
        position: absolute;
        top: 0px;
        left: 0px;
        width: $processstep_circle_size !important;
        height: $processstep_circle_size !important;
        text-align: center;
        padding: $processstep_circle_padding;
        /* предудущие параметры
        display: block;
        padding-top: @include 5em;
        padding-left: @include 15em;  */
        background-color: $processtep_scircle_color_light;
        color: $white_color;
        display: flex;
        align-items: center;
        //justify-content: center;
      }
      &:after {
        @extend h3;
        content: ' ';
        display: block;
        position: absolute;
        left: $processstep_circle_size / 2;
        top: $processstep_circle_size;
        width: 0px;
        height: 999px;
        border-left: 2px solid $round_block_border_light;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}

//////////////////////////////////////////////////
/////////////// Карта ///////////////////////////
/////////////////////////////////////////////////
.c_contacts {
  height: $mapsection_height;
  min-width: 100%;
  min-height: $mapsection_min_height;
  overflow: hidden;
  position: relative;
  .c_contacts_map_holder {
    @extend .absolute_position;
  }
  .c_contacts_text {
    @extend .absolute_position;
    pointer-events: none;
    @include double-gradient($mapsection_text_gradient_start, $mapsection_text_gradient_end, 0%, 60%);
  }
}

//////////////////////////////////////////////////
/////////////// Форма свзяи или заказа //////////
/////////////////////////////////////////////////
.block_blur_effect {
  position: relative;
  background-color: transparent !important;
}

.block_blur_effect:before {
  @include transition(.3s);
  background-image: url('../../i/photo3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.block_blur_effect {
  &.blur {
    &:before {
      @include filter(blur(5px));
    }
  }
}

.c_roundimg {
  border: $round_block_border solid $round_block_border_light;
  border-radius: 50%;
  width: $round_block_size;
  height: $round_block_size;
  background-repeat: no-repeat;
  background-position: center;
}

.dark .c_roundimg {
  border: $round_block_border solid $round_block_border_dark;
}

.c_mask {
  background-color: $mask_color_light;
}

.dark .c_mask {
  background-color: $mask_color_dark;
}

// Абсолютно спозиционированные блоки, слои
.c_wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.absolute_position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

/* Frames for images and media */

.c_frame_shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .3);
}

.c_frame {
  padding: $margin_middle;
  background-color: $frame_color_light;
  border: 1px solid $frame_border_color_light;
}

.dark .c_frame {
  background-color: $frame_color_dark;
  border: 1px solid $frame_border_color_dark;
}

.c_frame_border {
  border: 1px solid $frame_border_color_light;
}

.dark .c_frame_border {
  border: 1px solid $frame_border_color_dark;
}

.c_description {
  text-align: center;
  margin-top: $margin_middle;
}

/* Video */

.c_videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
}

.c_videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Impact text */

.c_impact_01 {
  text-align: center;
  margin: $margin_small 0;
  padding: $margin_small 0;
  /*border-top: $hr_height solid $hr_color_light;
    border-bottom: $hr_height solid $hr_color_light;*/
}

/* Social buttons */

.socialbutton:link,
.socialbutton:visited {
  margin-left: 10px;
  background-color: $button_bg_light;
  border: $socialbutton_border solid $button_border_light;
  border-radius: $social_radius;
  display: inline-block;
  width: $socialbutton_size;
  height: $socialbutton_size;
  color: $button_textcolor_light;
  text-decoration: none;
  div {
    width: $socialbutton_size - $socialbutton_border * 2;
    height: $socialbutton_size - $socialbutton_border * 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    font-size: $sicialbutton_iconsize;
  }
}

.socialbutton:hover,
.socialbutton:active {
  border: $button_border solid $button_border_hover_light;
  background-color: $button_bg_hover_light;
  transition: 0.2s ease all;
  text-decoration: none;
  color: $button_textcolor_hover_light;
}

.dark {
  .socialbutton:link,
  .socialbutton:visited {
    background-color: $button_bg_dark;
    border: $socialbutton_border solid $button_border_dark;
    color: $button_textcolor_dark;
  }
  .socialbutton:hover,
  .socialbutton:active {
    border: $button_border solid $button_border_hover_dark;
    background-color: $button_bg_hover_dark;
    color: $button_textcolor_hover_dark;
  }
}

.floatright {
  float: right;
  display: block;
}

.center {
  text-align: center;
}

.text_small {
  font-size: calc($text_size * 0.85);
}

.text_big {
  font-size: calc($text_size * 1.15);
}

// Margin
.margin_top,
.margin_top_small {
  margin-top: $margin_small;
}

.margin_top_middle {
  margin-top: $margin_middle;
}

.margin_top_big {
  margin-top: $margin_big;
}

.margin_bottom,
.margin_bottom_small {
  margin-bottom: $margin_small;
}

.margin_bottom_middle {
  margin-bottom: $margin_middle;
}

.margin_bottom_big {
  margin-bottom: $margin_big;
}

// Padding
.nopadding {
  padding: 0;
}

.sectionpadding {
  padding-top: $section_top_padding;
  padding-bottom: $section_bottom_padding;
}

.c_formelement {
  padding: $margin_small 0;
}

.c_v_midle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullwidth {
  width: 100%;
}

.noborder {
  border: none;
}

.opac {
  @include opacity(0);
}