$navButtonSize: 30px;
$imgSize: 300px;

.owl-carousel {
  padding: 0;
  margin: auto;
  height: 100%;
  padding-top: 50px;
  .owl-item {
    img {
      display: block;
      margin: auto;
      max-height: $imgSize;
      max-width: $imgSize;
      height: 100%;
      width: 100%;
    }
  }
}

.owl-nav {
  position: absolute;
  top: 0;
  margin: 0 !important;
  right: 0;
  button[class*='owl-'] {
    width: $navButtonSize;
    height: $navButtonSize;
    line-height: $navButtonSize !important;
    background: #17a2b8 !important;
    margin: 0 !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    outline: none;
    &:hover {
      background: #007bff !important;
    }
    & + button[class*='owl-'] {
      margin-left: 15px !important;
    }
    i {
      line-height: inherit !important;
      width: inherit !important;
      height: inherit !important;
      padding: 0 !important;
      margin: 0 !important;
      background: transparent !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
    }
  }
}